:root {
    --w-100: #ffffff;
    --w-200: #f3f3f3;
    --w-300: #e5e5e5;
    --w-400: #c9c9c9;
    --w-500: #a7a7a7;

    --r-100: #ff0000;
    --r-200: #e50000;
    --r-300: #d60000;

    --r-w-100: #ff8585;
    --r-w-200: #ff6565;
    --r-w-300: #ff4848;

    --b-100: #3333;
    --b-200: #17171733;

    --bl-100: #381ef9;
}